{% extends "app/base.html" %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css\\pages.css' %}" />
<title>Add Box Data</title>
{% endblock %} {% block content %} {{ super() }}

<div class="all-questions">
  <form id="questions-form">
    <div id="question1" class="question">
      <label for="q1">Add to box:</label>
      <select name="box_ids" id="q1" class="question-input" required>
        <!-- TODO: update to only show boxes without can data -->
        {% for opts in options %}
        <option value="{{opts}}">{{opts}}</option>
        {% endfor %}
      </select>
    </div>

    <table id="q2">
      <tr>
        <th>Can</th>
        <th>Initial Mass (g)</th>
        <th>Initial Volume (fl oz)</th>
        <th>Final Mass (g)</th>
        <th>Final Volume (fl oz)</th>
        <th>Completion State</th>
      </tr>
      {% for num in range(1,9) %}
      <tr>
        <td>{{ num }}</td>
        <td><input type="number" name="imass" /></td>
        <td><input type="number" name="ivol" /></td>
        <td><input type="number" name="fmass" /></td>
        <td><input type="number" name="fvol" /></td>
        <td><input type="text" name="cmpl-sts" /></td>
      </tr>
      {% endfor %}
    </table>

    <button style="display: block" type="submit" onclick="uploadCans(event)">
      Submit
    </button>
  </form>
</div>

<script src="../static/js/add_can.js"></script>

{% endblock %}

<!-- 

consider:
    hidden question for location/flavor name, instead of js prompts 

 -->
