{% extends "website/base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'website/css/pages.css' %}">
<title>Add Box Data</title>
{% endblock %}

{% block content %}
    {{  super()  }}

    <div class="all-questions">
        <form id="questions-form">
            <div id="question1" class="question">
                <!-- Question 1 input field -->
                <label for="q1">Flavor (abbreviation):</label>
                <input type="text" id="q1" class="question-input" required>
                <button type="button" onclick="handleInput(1)">Next</button>
            </div>
    
            <!-- Include verification for format -->
            <!-- [FLAVOR ABBREVIATION][NUM] should be determined auto via table tracking] -->
    
    
            <div id="question2" style="display: none;" class="question">
                <label for="q2">Purchase Date:</label>
                <input type="date" id="q2" class="question-input" required>
                <button type="button" onclick="handleInput(2)">Next</button>
            </div>
    
            <div id="question3" style="display: none;" class="question">
                <label for="q3">Price:</label>
                <input type="text" id="q3" class="question-input" required>
                <button type="button" onclick="handleInput(3)">Next</button>
            </div>
    
            <div id="question4" style="display: none;" class="question">
                <label for="q4">Location (abbreviation):</label>
                <input type="text" id="q4" class="question-input" required>
                <button type="button" onclick="handleInput(4)">Next</button>
            </div>
    
            <div id="question5" style="display: none;" class="question">
                <label for="q5">Start Date:</label>
                <input type="date" id="q5" class="question-input" required>
                <button type="button" onclick="handleInput(5)">Next</button>
            </div>
    
            <div id="question6" style="display: none;" class="question">
                <label for="q6">Finish Date:</label>
                <input type="date" id="q6" class="question-input" required>
                <button type="submit" onclick="finalSubmission(event)">Submit</button>
            </div>
    
            <dialog id="success-modal" class="modal">
                <h2>Box data added successfully!</h2>
            </dialog>
    
        </form>
    </div>

    <script src="{% static 'website/js/add_box.js' %}"></script>

{% endblock %}



<!-- 

consider:
    verification for whether chosen BID already has filled data

 -->